<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqzmss.mapper.AccountMapper">
    <select id="selectAccountById" resultType="com.hqzmss.domain.Account">
        SELECT * FROM account WHERE accountId = #{accountId}
    </select>
</mapper>